.GameBoard {

    .div {
        margin-bottom: 1em;
    }

    .statusDisplay {
        font-size: larger;
        border-radius: 5px;
        padding: 1em;
        border: 1px solid black;
        width: 40%;
        margin: 1em auto;


    }

    .P2 {
        background-color: red;
    }

    .D {

        background-color: gray;
    }

    .P1 {
        background-color: green;
    }


}